# Ignore everything by default
*

!.gitignore

!README.org

# Keep these directories
!wofi/
!waybar/
!hypr/
!mako/
!screenshots/

# Allow screenshots
!screenshots/**

# Allow files inside the specified directories
!wofi/**
!waybar/**
!hypr/**
!mako/**

hypr/hyprland-bkp.conf
hypr/wallpapers/*
!hypr/wallpapers/wallpaper.png
!hypr/wallpapers/lockscreen.png

waybar/style.old.css
wofi/style.old.css

