# Ignore everything by default
*

!.gitignore

!README.org

# Keep these directories
!wofi/
!waybar/
!hypr/
!mako/
!screenshots/
!colors/
!swaync/

# Allow screenshots
!screenshots/**

# Allow files inside the specified directories
!wofi/**
!waybar/**
!hypr/**
!mako/**
!colors/**
!swaync/**

hypr/hyprland-bkp.conf

waybar/style.old.css
wofi/style.old.css

