/* @import "/home/croy/.config/colors/nord.css"; */
/* @import "/home/croy/.config/colors/dracula.css"; */
@import "/home/croy/.cache/wal/colors-waybar.css";

@define-color background-bar @background;
/* @define-color foreground #a6adc8; */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "JetBrainsMonoNerdFont";
    font-weight: bold;
    font-size: large;
}

window#waybar {
    background: @background-bar;
    color: @foreground;
}

.modules-left {
    margin-left: 20px;
}

.modules-center {
    border-radius: 20px;
}

.modules-right {
    border-radius: 20px;
}

tooltip {
    background: @theme_bg_color;
    border-radius: 10px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @color2;
    background-color: @color2;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @color2;
    background-color: @color2;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

#workspaces button:hover {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 15px;
}

#window,
#battery,
#pulseaudio,
#network,
#bluetooth,
#tray,
#memory,
#cpu,
#backlight {
    padding: 0px 10px;
}

/*close to the right */
#bluetooth {
    margin-right: 10px;
}

#temperature {
    margin-right: 10px;
}

#temperature.critical {
    color: @color6;
}

#clock {
    margin-left: 5px;
    color: @foreground;
}

#network {
    color: @foreground;
}

#tray {
    /* background-color: @foreground; */
}

#bluetooth {
    color: @foreground;
}

#blueman-manager {
    color: @foreground;
}

#pulseaudio {
    /* color: @color1; */
    color: @foreground;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 10px;
}

#battery {
    color: @color5;
}

#battery.charging,
#battery.plugged {
    color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @color2;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
}
