/* Colors file */
@import "/home/croy/.cache/wal/colors-waybar.css";

* {
    all: unset;
    /*this is really important to isolate waybar from gtk*/
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: normal;
}

tooltip {
    background: alpha(@background, 0.7);
    border: 1.5px solid @color4;
    border-radius: 8px;
    padding: 2px 100px;
}

#image,
#mpd *,
#taskbar *,
#quicklinks-right *,
#quicklinks-left * {
    border-radius: 8px;
    color: @foreground;
}

#clock,
#hardware,
#network,
#info,
#custom-keyboard,
#taskbar,
#quicklinks-right,
#quicklinks-left {
    border-radius: 12px;
    padding: 3px 7px;
    margin: 4px;
    background: alpha(@background, 0.7);
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

#clock:hover,
#hardware:hover,
#info:hover,
#network:hover,
#custom-keyboard:hover,
#taskbar:hover {
    background: linear-gradient(0deg, @color4 0%, alpha(@background, 0.6) 20%);
}

#workspaces {
    background: alpha(@background, 0.7);
    margin: 4px 0px;
    padding: 1px 0px;
    border-radius: 15px;
    opacity: 0.9;
}

#workspaces button {
    color: @foreground;
    min-width: 25px;
    margin: 2px 4px;
    /* circle */
    transition: all 0.2s ease-in-out;
    padding: 1px;
    opacity: 0.6;
}

#workspaces button:first-child {
    margin-left: 3px;
}

#workspaces button:last-child {
    margin-right: 3px;
}

#workspaces button:hover {
    opacity: 0.8;
}

#workspaces button.active {
    color: @color4;
    background: linear-gradient(0deg, @color4 0%, alpha(@background, 0.6) 20%);
    border-radius: 20px;
    min-width: 50px;
    opacity: 0.9;
}

#workspaces button.urgent {
    transition: all 0.2s ease-in-out;
}

/* quicklinks  */
#info,
#quicklinks-right,
#quicklinks-left {
    padding: 0px 4px;
    background: alpha(@background, 0.7);
}

#quicklinks-right {
    padding: 0px 3px 0px 6px;
    margin-right: 9px;
}

#quicklinks-left {
    margin-left: 9px;
}

#quicklinks-right *,
#quicklinks-left * {
    padding: 0px 3px;
    margin: 0px 2px;
    transition: all 0.2s ease-in-out;
}

#quicklinks-left * {
    padding: 0px 0px 0px 5px;
    font-size: 16px;
}

#quicklinks-right *:hover,
#quicklinks-left *:hover {
    background: @color8;
}

/* taskbar */
#taskbar {
    background: alpha(@background, 0.7);
    margin: 4px 8px 4px 5px;
    padding: 0px;
}

#taskbar * {
    transition: all 0.2s ease-in-out;
    margin: 2px 3px;
}

#taskbar button.active {
    background: linear-gradient(0deg, @color4 0%, alpha(@background, 0.6) 20%);
}

#taskbar *:hover {
    background: @color8;
}

/* power-menu */
#custom-power-menu {
    color: #6a92d7;
    /* red clor */
}

/* notification */
#custom-notification {
    padding: 0px 7px 0px 2px;
}

#pulseaudio {
    color: @color5;
}
#battery {
    color: @color6;
}
#pulseaudio,
#battery {
    padding: 2px 7px;
}

#battery.charging,
#battery.plugged {
    color: #26a65b;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @color2;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* wallpaper */
#custom-wallpaper {
    padding-right: 2px;
}

/* image */
#image {
    margin: 0px;
    padding: 0px;
}

#window {
    margin-left: 15px;
}

/* #waybar { */
/*     background: alpha(@background, 0.8); */
/* } */

#tray {
    background-color: @background;
}

#custom-clipboard {
    padding: 0px 0px 0px 0px;
    font-size: 18px;
}

#custom-keyboard {
    padding: 0px 3px 0px 10px;
}

#power-profiles-daemon {
    padding: 0px 15px 0px 0px;
    min-width: 20px;
}
