/* @import "/home/croy/.config/colors/nord.css"; */
/* @import "/home/croy/.config/colors/dracula.css"; */
@import "/home/croy/.cache/wal/colors-waybar.css";

@define-color background #010409;

* {
  border: none;
  font-family: "JetBrainsMonoNerdFont";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  border-radius: 20px;
  background: transparent;
  color: @foreground;
}

.modules-left {
  border-radius: 20px;
  background: @background;
}

.modules-center {
  border-radius: 20px;
  background: @background;
}

.modules-right {
  border-radius: 20px;
  background: @background;
}

tooltip {
  background: @background;
  border-radius: 10px;
}

#workspaces button {
  padding: 5px;
  color: @color8;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: @background;
}

#workspaces button.urgent {
  color: #11111b;
  background: @background;
}

#workspaces button:hover {
  background: @background;
  color: @foreground;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  padding: 0px 10px;
}

/*close to the right */
#bluetooth {
  margin-right: 10px;
}

#temperature {
  margin-right: 10px;
}

#temperature.critical {
  color: @color6;
}

#tray {
  margin-right: 10px;
}

#workspaces {
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  margin-left: 5px;
  color: @foreground;
}

#network {
  color: @foreground;
}

#bluetooth {
  color: @color1;
  margin-right: 10px;
}

#pulseaudio {
  color: @color1;
}

#pulseaudio.microphone {
  color: #cba6f7;
  margin-right: 10px;
}

#battery {
  color: @color5;
  margin-right: 10px;
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: @color2;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#keyboard-state {
  padding: 0 0px;
  margin: 0 5px;
}
