window {
  margin: 0px;
  border: 1px solid #88c0d0;
  background-color: #2e3440;
}

#input {
  margin: 5px;
  border: none;
  color: #eceff4;
  background-color: #4c566a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #eceff4;
}

#entry.activatable #text {
  color: #2e3440;
}

#img {
  margin: 5px;
}

#img:selected {
  background-color: transparent;
}

#entry > * {
  color: #eceff4;
}

#entry:selected {
  background-color: #4c566a;
}

#entry:selected #text {
  font-weight: bold;
  background-color: transparent;
}
